<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% language_tabs = current_page.data.language_tabs || [] %>
<% page_content = yield %>
<%
  if current_page.data.includes
    current_page.data.includes.each do |include|
      page_content += partial("includes/#{include}")
    end
  end
%>

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= current_page.data.title || "API Documentation" %></title>

    <style media="screen">
      <%= Rouge::Themes::OyTheme.render(:scope => '.highlight') %>
    </style>
    <style media="print">
      * {
        transition:none!important;
      }
      <%= Rouge::Themes::Base16::Solarized.render(:scope => '.highlight') %>
    </style>
    <%= favicon_tag 'favicon.ico' %>
    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">

    <% if current_page.data.code_clipboard %>
    <script>
      $(function() { setupCodeCopy(); });
    </script>
    <% end %>
  </head>

  <body class="<%= page_classes %>" data-languages="<%=h language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>">
    <div class="header">
      <div class="header-section header-logo-container">
        <%= image_tag "oy-docs.svg", class: 'header-logo' %>
      </div>
      <div class="header-section header-action">
        <% if current_page.data.search %>
          <div class="search">
            <input type="text" class="search" id="input-search" placeholder="Search Documentation">
            <ul class="search-results"></ul>
          </div>
        <% end %>
        <div class="header-section header-action-link">
          <a href="#home" class="header-link">Home</a>
          <a href="https://api-docs.oyindonesia.com" class="header-link">API Docs</a>
          <a href="https://business.oyindonesia.com/register" class="header-linkButton">Daftar Sekarang</a>
          <a href="#" class="header-linkUnderline">Masuk Dashboard</a>
        </div>
      </div>
      <div class="header-section header-action-mobile">
        <%= image_tag 'search.svg', id: "search-toggle-mobile" %>
        <a href="#" id="nav-button">
          <span>
            <%= image_tag('menu-outline.svg') %>
          </span>
        </a>
      </div>
    </div>

    <div class="search-bar-mobile">
      <% if current_page.data.search %>
          <div class="search">
            <input type="text" class="search" id="input-search-mobile" placeholder="Search Documentation">
            <ul class="search-results-mobile"></ul>
          </div>
          <%= image_tag "close.svg", id: 'search-bar-close' %>
        <% end %>
    </div>

    <% if language_tabs.any? %>
      <div class="lang-selector__container">
        <p class="lang-selector__title">Select Language</p>
        <div class="lang-selector">
          <% language_tabs.each do |lang| %>
            <% if lang.is_a? Hash %>
              <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
              <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <div class="toc-wrapper">
      <div class="toc-header-mobile">
        <%= image_tag "oy-docs.png", class: 'header-logo' %>
        <%= image_tag "close.svg", class: 'header-close' %>
      </div>
      <ul id="toc" class="toc-list-h1">
        <% toc_data(page_content).each do |h1| %>
          <li>
            <a href="#<%= h1[:id] %>" class="toc-h1 toc-link" data-title="<%= h1[:title] %>">
              <span>
                <%= h1[:content] %>
              </span>
              <% if h1[:children].length > 0 %>
                <%= image_tag "arrow-bottom.svg",  class: 'icon-arrow parent' %>
              <% else %>
                <%= image_tag "arrow-right.svg", class: 'icon-arrow'%>
              <% end %>
            </a>
            <% if h1[:children].length > 0 %>
              <ul class="toc-list-h2">
                <% h1[:children].each do |h2| %>
                  <li>
                    <a href="#<%= h2[:id] %>" class="toc-h2 toc-link" data-title="<%= h2[:title] %>">
                      <% if h2[:children].length > 0 %>
                        <%= h2[:content] %> <%= image_tag "arrow-bottom.svg", class: 'active-parent icon-arrow'%>
                      <% else %>
                        <%= h2[:content] %> <%= image_tag "arrow-right.svg", class: 'icon-arrow'%>
                      <% end %>
                    </a>
                   <% if h2[:children].length > 0 %>
                    <ul class="toc-list-h3">
                      <% h2[:children].each do |h3| %>
                        <li>
                          <a href="#<%= h3[:id] %>" class="toc-h3 toc-link" data-title="<%= h3[:title] %>">
                            <%= h3[:content] %> <%= image_tag "arrow-right.svg", class: 'icon-arrow'%>
                          </a>
                        </li>
                      <% end %>
                    </ul>
                   <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <% if language_tabs.any? %>
      <div class="content use-language">
      <% else %>
      <div class="content">
      <% end %>
        <%= page_content %>
      </div>
      <div class="dark-box">
        <% if language_tabs.any? %>
          <div class="lang-selector__container">
            <p class="lang-selector__title">Select Language</p>
            <div class="lang-selector">
              <% language_tabs.each do |lang| %>
                <% if lang.is_a? Hash %>
                  <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
                <% else %>
                  <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
